<div align="center">
    <br>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/editAcerca-de/1" *ngIf="isLogged">
          Editar Persona  
        </button>
    </div>

    <img [src]="persona.img" width="400 px" height="400 px">

    <h2 class="text-black fw-bold">{{ persona.nombre }} {{ persona.apellido }}</h2>

    <h3 class="text-black fw-bold">Full Stack Developer Jr.</h3>

    <span>
        <h3 class="text-black fw-bold"> Acerca de mi</h3>
        <p class="text-black fw-bold">{{persona.descrip}}</p>
    </span>
</div>    