<section id="educacion">
    <div>	
        <!-- <img src="../../../assets/educacion-logo.png" width="400 px" height="200 px"> -->
        <h1 class="display-1">Educacion</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaEdu" *ngIf="isLogged">
          Agregar Educacion  
        </button>
    </div>
    <br>
    <div class="row">
            <div class="col-lg-6 mb-4" *ngFor="let educacion of educacion">
                <div class="card bg-light border-dark mb-3">
                    <img [src]="educacion.imagen" class="card-img-top" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{educacion.nombreEdu}}</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{educacion.institucion}}</li>
                            <li class="list-group-item">{{educacion.ubicacion}}</li>
                            <li class="list-group-item"><time>{{educacion.fechaInicio}}</time> - <time>{{educacion.fechaFin}}</time></li>
                        </ul>
                        <br>
                        <div *ngIf="isLogged">
                        
                            <button class="btn btn-dark" routerLink="/editEdu/{{educacion.id}}">
                                <i class="bi bi-pencil-fill"></i> Editar
                            </button>
                            &nbsp;
                        
                            <button class="btn btn-dark" (click)="delete(educacion.id)">
                                <i class="bi bi-trash-fill"></i> Borrar
                            </button>
                        
                        </div>
                    </div>    
                </div>
            </div>
    </div>

          
</section>
