<section id="educacion">
    <div>	
        <img src="../../../assets/edu.jpg" width="200 px" height="200 px">
    </div>
    <div class="align-items-center d-flex pt-3 my-3 p-3 bg-body rounded shadow-sm">
        <h3 class="border-bottom pb-2 mb-0 text-black fw-bold">Educación</h3>
        
    </div>
    <ul class="items-list">
        <li *ngFor="let educacion of educacionLista">
            <div class="data-container">
                <a href="#">
                    <div class="logo-image-container">
                        <img class="logo-image" [src]="educacion.imagen" width="400 px" height="200 px"/>
                    </div>
                    <div class="list-info">
                        <div>
                            <h4>{{educacion.titulo}}</h4>
                            <p>{{educacion.lugar}}</p>
                            <p>{{educacion.ubicacion}}</p>
                            <p><time>{{educacion.inicio}}</time> - <time>{{educacion.fin}}</time></p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</section>
