<nav>
    <div class="abajo">
        <img [src]="miPortfolio.imagen" width="400 px" height="400 px">

        <h2 class="text-white fw-bold">{{ miPortfolio.nombre }}</h2>

        <h3 class="text-white fw-bold">{{ miPortfolio.titulo }}</h3>
        <h4 class="text-white fw-bold">{{ miPortfolio.ubicacion }}</h4>
    
        <div class="btn-group">
            <a routerLink="/portada" aria-current="page" href="#portada" class="btn btn-secondary">Portada</a>
            <a routerLink="/educacion" aria-current="page" href="#educacion" class="btn btn-secondary">Educacion</a>
            <a href="#experiencia" class="btn btn-secondary">Experiencia</a>
            <a href="#proyectos" class="btn btn-secondary">Proyectos</a>
        </div>
    </div>	
    
</nav> 