<section id="experiencia">
    <div>	
        <!-- <img src="../../../assets/experiencia-logo.png" width="400 px" height="200 px"> -->
        <h1 class="display-1">Experiencia</h1>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaExp" *ngIf="isLogged">
          Agregar experiencia  
        </button>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 mb-4" *ngFor="let experiencia of expe">
            <div class="card bg-light border-dark mb-3">
                <img class="card-img-top" [src]="experiencia.imagen" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><u>Puesto</u>: {{experiencia.nombreExp}}</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><u><b>Descripcion</b></u>: {{experiencia.descripExp}}</li>
                        <li class="list-group-item"><u><b>Lugar</b></u>: {{experiencia.lugar}}</li>
                        <li class="list-group-item"><time><u><b>Fecha de Inicio</b></u>: {{experiencia.fechaInicio}}</time> - <time><u><b>Fecha de Finalizacion</b></u>: {{experiencia.fechaFin}}</time></li>
                    </ul>
                    <br>
                        <div *ngIf="isLogged">
                            <button class="btn btn-dark" routerLink="/editExp/{{experiencia.id}}">
                                <i class="bi bi-pencil-fill"></i> Editar
                            </button>
                            &nbsp;
                            <button class="btn btn-dark" (click)="delete(experiencia.id)">
                                <i class="bi bi-trash-fill"></i> Borrar
                            </button>
                        </div>
                </div>
            </div>
        </div>
</div>
</section>